<div id="login-page">
  <div>
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div>
        <label for="username">Pseudo</label>
        <input
          type="text"
          name="username"
          [(ngModel)]="form.username"
          required
          #username="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
        />
        <div *ngIf="username.errors && f.submitted">
          Le pseudo est requis
        </div>
      </div>
      <div>
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
        />
        <div *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors['required']">Mot de Passe requis</div>
          <div *ngIf="password.errors['minlength']">
            Le mot de passe doit avoir au moins 6 caractères
          </div>
        </div>
      </div>
      <div>
        <button class="form-button">
          <p>Connexion</p>
        </button>
        <a routerLink="/forgot-password">Mot de passe oublié</a>
      </div>
      <div>
        <div *ngIf="f.submitted && isLoginFailed" role="alert">
          La connexion a échoué :<br />{{ errorMessage }}
        </div>
      </div>
    </form>
    <div *ngIf="isLoggedIn">
      Connecté en tant que {{ roles }}.
    </div>
  </div>
</div>
