<div id="register-page">
  <div>
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div>
        <label for="username">Pseudo ou Email</label>
        <input
          type="text"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
        />
        <div *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors['required']">Le Pseudo est requis</div>
          <div *ngIf="username.errors['minlength']">
            Le pseudo doit avoir au moins 3 caractères
            Username must be at least 3 characters
          </div>
          <div *ngIf="username.errors['maxlength']">
            Le pseudo doit avoir au plus 20 caractères
          </div>
        </div>
      </div>
      <div>
        <button class="form-button">
          <p>Envoyer</p>
        </button>
      </div>
      <div *ngIf="f.submitted && isFormFailed">
        <p>
          L'email n'a pas pû être envoyé :<br />{{ errorMessage }}</p>
      </div>
    </form>
    <div *ngIf="isSuccessful">
      {{ successMessage }}
    </div>
  </div>
