<div id="register-page">
  <div>
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div>
        <label for="username">Pseudo</label>
        <input
          type="text"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
        />
        <div *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors['required']">Le Pseudo est requis</div>
          <div *ngIf="username.errors['minlength']">
            Le pseudo doit avoir au moins 3 caractères
            Username must be at least 3 characters
          </div>
          <div *ngIf="username.errors['maxlength']">
            Le pseudo doit avoir au plus 20 caractères
          </div>
        </div>
      </div>
      <div>
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
        />
        <div *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors['required']">L'Email est requis</div>
          <div *ngIf="email.errors['email']">
            L'email doit être valide
          </div>
        </div>
      </div>
      <div>
        <label for="password">Mot de Passe</label>
        <input
          type="password"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
        />
        <div *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors['required']">Mot de Passe requis</div>
          <div *ngIf="password.errors['minlength']">
            Le mot de passe doit avoir au moins 6 caractères
          </div>
        </div>
      </div>
      <div>
        <button class="form-button">
          <p>S'inscrire</p>
        </button>
      </div>
      <div *ngIf="f.submitted && isSignUpFailed">
        <p>L'inscription a échoué :<br />{{ errorMessage }}</p>
      </div>
    </form>
    <div *ngIf="isSuccessful">
      Votre inscription est réussie
    </div>
  </div>
</div>
